body
{
    width: 100%;
    height: 900px;
    background-size: cover;
}

.titre
{
    font-family: "Comic Sans MS";
}
.navbar-nav
{
    text-align: center;
}
h1
{
    font-family: Arial;
    color: #B017C2;
    text-align: center;
}
.texte
{
    font-family: Arial;
    color: white;
}
.img-fluid
{
    max-width: 100%;
    height: auto;
}
.btn
{
    background-color: rgb(10, 186, 240);
    border-color:black ;
}